.devLogLabel{
    font-size: 2rem;
    padding: 2rem 1rem 2rem 1rem;
    color: white;
}
.logCarrot{

}
.devLogInner{
    padding: 2rem 0;
    margin-left: 5rem;
    margin-right: 200rem;
}
.logEntry{
    color:white;
    padding-inline: 2rem;
}