.devLogLabel{
    font-size: 2rem;
    padding: 2rem 1rem 2rem 1rem;
    color: white;
}
.logCarrot{

}
.devLog{
    justify-content: center;
    display: flex;
    border-radius: .25rem;
}
.devLogInner{
    padding: 2rem 0;
    max-width: 90%;
    border-radius: .5rem;
}
.logEntry{
    color:white;
    padding-inline: 2rem;
}